{% load static %}
{% load activeurl %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block scripts %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="{% url 'home' %}">Blog</a>
    {% activeurl menu="no" parent_tag="li" %}
    <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/forum/">Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Авторизация</a>
            <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
                {% if request.user.is_anonymous %}
                <a class="dropdown-item" href="{% url 'account_signup' %}">Регистрация</a>
                <a class="dropdown-item" href="{% url 'account_login' %}">Вход</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'account_logout' %}">Выход</a>
                {% endif %}
            </div>
        </li>
    </ul>
    {% endactiveurl %}
  <form class="form-inline float-xs-right" action="" method="get">
    <input class="form-control" type="text" placeholder="Search" name="q" value="{{ request.GET.q }}">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
<div class="container">
    {% block content %}

    {% endblock %}
</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script id="dsq-count-scr" src="//raven-4.disqus.com/count.js" async></script>
</body>
</html>