bbcode==1.0.24
defusedxml==0.4.1
Django==1.10.4
django-activeurl==0.1.9
django-allauth==0.29.0
django-annoying==0.10.3
django-appconf==1.0.2
django-classy-tags==0.8.0
django-crispy-forms==1.6.1
django-disqus==0.5
django-guardian==1.4.1
django-userena==2.0.1
easy-thumbnails==2.3
html2text==2014.12.29
lxml==3.7.1
Markdown==2.6.7
mock==2.0.0
oauthlib==2.0.1
pbr==1.10.0
Pillow==3.4.2
pybbm==0.18.4
python3-openid==3.0.10
pytz==2016.10
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
stripe==1.44.0
Unidecode==0.4.19
